<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <script defer src="https://kit.fontawesome.com/80331bb8c5.js" crossorigin="anonymous"></script>
</head>
<body>

  <div class="vertical">

    <h2>Update your hitlist entry</h2>
    <p class="lead">Write it, cut it, paste it, save it, load it, check it, quick rewrite it</p>

    <form class="vertical" action="/hitlist/updateEntry/<%= entry._id %>" method="POST">
      <input type="hidden" name="_method" value="PUT">

      <label for="companyName" class="form-label">Company Name</label>
      <input type="text" name="companyName" value="<%= entry.companyName %>">

      <label for="dateAdded">Date Added</label>
      <input type="date" name="dateAdded" value="<%= moment(entry.dateAdded).format('YYYY-MM-DD') %>"">

      <label for="url">URL</label>
      <input type="text" name="url" value="<%= entry.url %>">

      <label for="rolePosition">Role/Position</label>
      <input type="text" name="rolePosition" value="<%= entry.rolePosition %>">

      <label for="typeOfPosition">Type of position</label>
      <input type="text" name="typeOfPosition" value="<%= entry.typeOfPosition %>">

      <label for="source">Source</label>
      <input type="text" name="source" value="<%= entry.source %>">

      <button type="submit" class="btn">Update</button>
    </form>

    <form class="vertical" action="/hitlist/deleteEntry/<%= entry._id %>" method="post">
      <input type="hidden" name="_method" value="DELETE">
      <button type="submit" class="btn delete-btn">Delete</button>
    </form>

  </div>

</body>
</html>