<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/style.css">
    <script defer src="https://kit.fontawesome.com/80331bb8c5.js" crossorigin="anonymous"></script>
</head>
<body>
    <h1>Company Followup List</h1>
    <a href="/hitlist/addEntry">add entry</a>
    <div class="list-container">
    <% entries.forEach( entry => { %>
        <div class="company-card">
            <div class="company-preview">
                <h6>Company</h6>
                <h2><%= entry.companyName %></h2>
                <a href="<%= entry.url %>">Company Website <i class="fa-solid fa-chevron-right"></i></a>
            </div>
            <div class="company-info">
                <!-- <div class="progress-container">
                    <div class="progress"></div>
                    <span class="progress-text">
                        2/3 connections
                    </span>
                </div> -->
                <h6>Position type: <%= entry.typeOfPosition %></h6>
                <h2><%= entry.rolePosition %></h2>
                <!-- missing format -->
                <span><%= entry.source %> </span>
                <span><%= moment(entry.dateAdded).format('MM/DD/YYYY') %> </span>
                <a href="/hitlist/updateEntry/<%= entry._id %> " class="btn">Edit</a>
                <form action="/hitlist/deleteEntry/<%= entry._id %>" method="post">
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit" class="delete-btn">&times;</button>
                </form>
            </div>
        </div>
    <% }) %>    
    </div>
    
    <!-- SOCIAL PANEL HTML -->
    <div class="social-panel-container">
        <div class="social-panel">
           
            <button class="close-btn"><i class="fa-solid fa-circle-xmark"></i></button>
            <h4>Get in touch on...</h4>
            <ul>
                <li>
                    <a href="#" target="_blank">
                        <i class="fa-brands fa-twitter"></i>
                    </a>
                </li>
                <li>
                    <a href="#" target="_blank">
                        <i class="fa-brands fa-linkedin"></i>
                    </a>
                </li>
                <li>
                    <a href="#" target="_blank">
                        <i class="fa-brands fa-facebook"></i>
                    </a>
                </li>
                <li>
                    <a href="#" target="_blank">
                        <i class="fa-brands fa-instagram"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <button class="floating-btn">
        Get in Touch
    </button>
    
    <div class="floating-text">
        <h2><%= user.userName %> has <%= numEntries %> compan<%= entries.length === 1? "y": "ies" %>  listed</h2>
    </div>

    <a href="/logout">Logout</a>

    <script src="js/main.js"></script>
</body>
</html>